/***** tms-navbar ***************************/

.tms-rm-padding {
    padding: 0 !important;
}

.tms-brand-logo {
    font-weight: 900;
    font-size: 30px;
    color: #eeeeee;
}

.tms-rm-margin {
    margin: 0 !important;
}

.section-padding {
    padding-bottom: 20px;
}

.navbar-brand {
    padding: 2px 15px;
}

.navbar.tms-navbar {
    margin-bottom: 0px;
    border-radius: 0;
    border: none;
    position: fixed;
    top: 0;
    padding: 0 40px;
    background-color: #ffffff;
    box-shadow: 0px 3px 7px -1px rgba(0, 0, 0, 0.4);
    width: 100%;
    transition: .3s;
}

.navbar.tms-navbar .nav.navbar-nav li a.tms-scroll-nav-a-color {
    color: #000000;
}

.navbar.tms-navbar .nav.navbar-nav li a.tms-scroll-nav-a-color:hover {
    box-shadow: inset 0px -4px 0px 0px rgb(255, 136, 0);
    color: rgb(255, 136, 0);
}

.navbar.tms-navbar .nav.navbar-nav li a.active.tms-scroll-nav-a-color {
    box-shadow: inset 0px -4px 0px 0px rgb(255, 136, 0);
    color: rgb(255, 136, 0);
}

.navbar.tms-navbar .nav.navbar-nav li a {
    text-align: center;
    margin: 0 5px;
    font-family: 'Lato', sans-serif;
    color: #000000;
    font-size: 15px;
    font-weight: 600;
    padding: 20px 0;
}

.navbar.tms-navbar .nav.navbar-nav li:hover a {
    transition: .5s;
    box-shadow: inset 0px -4px 0px 0px rgb(255, 136, 0);
    background-color: transparent;
}

.navbar-brand .tms-logo-img {
    max-width: 38px;
}

.tms-toggle-btn {
    background-color: rgb(0, 141, 87);
}

.navbar-toggle .icon-bar {
    background-color: #eee;
}

.navbar-fixed-top .navbar-collapse {
    max-height: inherit;
}

.nav.navbar-nav li {
    padding: 0 10px;
}

.navbar-collapse .tms-collapse {
    margin-top: 10px;
}

.tms-nav>li>a:focus,
.tms-nav>li>a:hover {
    background-color: transparent;
}

/*******tms-navbar over ******************************/

/***********header Section***********/

.header {
    max-width: 100%;
    margin-top: 40px;
}

/*******header over ******************************/

/*General Sections*/

.font-main {
    font-size: 100%;
}

.tms-section-ttl {
    position: relative;
    display: block;
    font-family: 'Lato', sans-serif;
    color: #0a3325;
    text-align: center;
    margin: 0;
    padding: 40px 0;
    font-weight: 600;
}

.tms-section-ttl:after {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    content: '';
    background-color: rgb(255, 136, 0);
    height: 3px;
    width: 40px;
}

p {
    text-align: justify;
    text-indent: 4em;
}

.tms-about-deep-detail {
    position: relative;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #222831;
    text-align: center;
    font-weight: 400;
    padding: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .tms-about-dark-detail {
        padding: 0 80px;
    }

    .tms-about-deep-detail {
        padding: 0 30px;
    }
}

/* Aprovacted students Slides */
.slides-config {
    width: 100%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide {
    width: 640px;
    height: 640px;
    overflow: hidden;
    border-radius: 15px;
    transition: all 0.4s;
}

.slides {
    width: 12160px;
    height: 1280px;
    display: flex;
}

#atual {
    transition: all 2s;
}

.btn {
    position: absolute;
    color: orange;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.4s;
    font-size: 3.0em;
    margin-top: -5px;
}

.btn:hover {
    transform: scale(1.5);

}

#voltar {
    top: 50%;
    left: 11%;
}

#next {
    top: 50%;
    right: 11%;
}

.balls {
    position: absolute;
    display: flex;
    width: 640px;
    justify-content: center;
    margin: -45px;
    margin-top: 530px;
}

.balls div {
    transition: all 0.5s;
    padding: 8px;
    border: 3px solid white;
    border-radius: 50%;

    margin-right: 15px;
    cursor: pointer;
}

.balls div:hover {
    background: white;
}

.imgAtual {
    background: white;
    transition: all 0.5s;
}